In [1]:
%matplotlib inline
import pickle
from __future__ import division
import pandas as pd
import numpy as np

In [2]:
with open("my_data_2000_2014.pkl", 'r') as picklefile: 
    raw_data1 = pickle.load(picklefile)

In [3]:
raw_data = {item[0] : item[1]
           for item in raw_data1}

In [4]:
data = pd.DataFrame(raw_data)
data = pd.DataFrame.transpose(data)

In [5]:
len(data)

4415

In [6]:
data.head()

,duration,genres,gross,metacritic,opening,rating,release,studio,title
/title/tt0035423/,PT118M,"[Comedy, Fantasy, Romance]","$47,095,453",44/100,"$2,562,448 \n\n (USA)",PG-13,2001-12-25,Konrad Pictures,Kate & Leopold
/title/tt0116282/,PT98M,"[Crime, Drama, Thriller]","$24,611,975",85/100,"$137,301 \n\n (USA)",R,1996-04-05,PolyGram Filmed Entertainment,Fargo
/title/tt0118589/,PT104M,"[Drama, Music, Romance]","$4,273,372",14/100,"$2,414,596 \n\n (USA)",PG-13,2001-09-21,Twentieth Century Fox Film Corporation,Glitter
/title/tt0118694/,PT98M,"[Drama, Romance]","$2,734,044",85/100,"£92,227 \n\n (UK)",PG,2001-03-09,Block 2 Pictures,In the Mood for Love
/title/tt0118926/,PT132M,"[Drama, Thriller, Crime]","$2,377,348",64/100,"£61,622 \n\n (UK)",R,2003-05-23,Fox Searchlight Pictures,The Dancer Upstairs

In [7]:
data = data[data['metacritic'] != 'Metacritic Reviews']

In [8]:
len(data)

4098

In [9]:
data['duration'] = data['duration'].map(lambda x: x.encode('ascii'))
data['duration'] = data['duration'].map(lambda x: int(x.replace('P', '').replace('T', '').replace('M', '')))

In [10]:
dols = 0
pds = 0
oth = 0

for gross in data['opening']:
    if gross[0] == u'$':
        dols += 1
    elif gross[0] == u'£':
        pds += 1
    else:
        oth += 1
        
print "dols: %d, pds: %d, oth: %d" % (dols, pds, oth)

# gross - dols: 4096, pds: 1, oth: 1
# opening - dols: 3651, pds: 444, oth: 3

dols: 3651, pds: 444, oth: 3

In [11]:
data = data[data['gross'].str.contains(u'\$')]

In [12]:
len(data)

4096

In [13]:
data['gross'] = data['gross'].map(lambda x: int(x.replace('$', '').replace(',', '')))

In [14]:
data['opening'] = data['opening'].map(lambda x: x.split()[0])

In [15]:
data = data[data['opening'].str.contains("[u\$\£]")]

In [16]:
len(data)

4093

In [17]:
opening = data['opening']

print opening[:10]
print type(opening)

def convert_pounds(lst):
    newlst = []
    for item in lst:
        item = item.encode('ascii', 'ignore')
        if item[0] == u'$':
            item = int(item.replace('$', '').replace(',', ''))
            newlst.append(item)
        else:
            item = int(item.replace('£', '').replace(',', '')) * 1.5
            newlst.append(item)
    return newlst

opening2 = convert_pounds(opening)
print opening2[:10]

data['opening'] = opening2

/title/tt0035423/     $2,562,448
/title/tt0116282/       $137,301
/title/tt0118589/     $2,414,596
/title/tt0118694/        £92,227
/title/tt0118926/        £61,622
/title/tt0120202/       $580,163
/title/tt0120630/    $17,506,162
/title/tt0120667/     $2,815,167
/title/tt0120679/       $205,996
/title/tt0120681/    $11,014,818
Name: opening, dtype: object
<class 'pandas.core.series.Series'>
[2562448, 137301, 2414596, 138340.5, 92433.0, 580163, 17506162, 2815167, 205996, 11014818]

In [18]:
data.head()

,duration,genres,gross,metacritic,opening,rating,release,studio,title
/title/tt0035423/,118,"[Comedy, Fantasy, Romance]",47095453,44/100,2562448.0,PG-13,2001-12-25,Konrad Pictures,Kate & Leopold
/title/tt0116282/,98,"[Crime, Drama, Thriller]",24611975,85/100,137301.0,R,1996-04-05,PolyGram Filmed Entertainment,Fargo
/title/tt0118589/,104,"[Drama, Music, Romance]",4273372,14/100,2414596.0,PG-13,2001-09-21,Twentieth Century Fox Film Corporation,Glitter
/title/tt0118694/,98,"[Drama, Romance]",2734044,85/100,138340.5,PG,2001-03-09,Block 2 Pictures,In the Mood for Love
/title/tt0118926/,132,"[Drama, Thriller, Crime]",2377348,64/100,92433.0,R,2003-05-23,Fox Searchlight Pictures,The Dancer Upstairs

In [19]:
data.dtypes

duration        int64
genres         object
gross           int64
metacritic     object
opening       float64
rating         object
release        object
studio         object
title          object
dtype: object

In [20]:
len(data)

4093

In [21]:
data['metacritic'] = data['metacritic'].map(lambda x: int(x.split('/')[0]))

In [22]:
data.loc[data['metacritic'].idxmax()]

duration                  165
genres                [Drama]
gross                25359200
metacritic                100
opening                387618
rating                      R
release            2014-08-15
studio        IFC Productions
title                 Boyhood
Name: /title/tt1065073/, dtype: object

In [23]:
data.loc[data['gross'].idxmax()]

duration                                         162
genres                  [Action, Adventure, Fantasy]
gross                                      760507625
metacritic                                        83
opening                                 1.276358e+07
rating                                         PG-13
release                                   2009-12-18
studio        Twentieth Century Fox Film Corporation
title                                         Avatar
Name: /title/tt0499549/, dtype: object

In [24]:
high = data[data['metacritic'] > 90]

In [25]:
high.sort(['metacritic'], ascending=False).head()

,duration,genres,gross,metacritic,opening,rating,release,studio,title
/title/tt1065073/,165,[Drama],25359200,100,387618,R,2014-08-15,IFC Productions,Boyhood
/title/tt0457430/,118,"[Drama, Fantasy, War]",37623143,98,501691,R,2007-01-19,Estudios Picasso,Pan's Labyrinth
/title/tt1032846/,113,[Drama],1185783,97,51712,NOT RATED,2007-09-14,Mobra Films,"4 Months, 3 Weeks and 2 Days"
/title/tt2024544/,134,"[Biography, Drama, History]",56667870,97,923715,R,2013-11-08,Regency Enterprises,12 Years a Slave
/title/tt0382932/,111,"[Animation, Comedy, Family]",206445654,96,47027395,G,2007-06-29,Pixar Animation Studios,Ratatouille

In [26]:
data.metacritic.mean()

54.87881749328121

In [27]:
low_gross = data[data['gross'] < 150000]

In [28]:
low_gross.metacritic.mean()

57.36344537815126

In [29]:
data['release'] = pd.to_datetime(data['release'])

In [30]:
data = data[data['release'] >= '2000-01-10 00:00:00']

In [31]:
data = data[data['duration'] >= 80]

In [32]:
data['month'] = data['release'].map(lambda x: x.month)

In [33]:
data.dtypes

duration               int64
genres                object
gross                  int64
metacritic             int64
opening              float64
rating                object
release       datetime64[ns]
studio                object
title                 object
month                  int64
dtype: object

In [34]:
data['rating'].value_counts()

R            1804
PG-13        1334
PG            465
UNKNOWN       165
NOT RATED     117
UNRATED        85
G              55
NC-17          13
dtype: int64

In [35]:
not_rated = data['rating'] == 'NOT RATED'
data['rating'][not_rated] = 'UNRATED'

unknown = data['rating'] == 'UNKNOWN'
data['rating'][unknown] = 'UNRATED'

data['rating'].value_counts()

/Users/emilyschuch/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app
/Users/emilyschuch/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

R          1804
PG-13      1334
PG          465
UNRATED     367
G            55
NC-17        13
dtype: int64

In [36]:
studios = data.groupby(['studio'])

studios_freq = studios.filter(lambda x: len(x) > 10)
top_studios = studios_freq.groupby(['studio']).size().order(ascending=False)[:20]


for studio in top_studios.index:
    print studio

Universal Pictures
Warner Bros.
Paramount Pictures
Twentieth Century Fox Film Corporation
New Line Cinema
Columbia Pictures
Walt Disney Pictures
Columbia Pictures Corporation
DreamWorks SKG
Touchstone Pictures
Fox Searchlight Pictures
Metro-Goldwyn-Mayer (MGM)
Screen Gems
Dimension Films
Lionsgate
Miramax
Fox 2000 Pictures
Focus Features
Revolution Studios
Summit Entertainment

In [37]:
all_genres = set(data['genres'].sum())

In [38]:
all_genres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western'}

In [39]:
data['genres'] = data['genres'].map(lambda x: '_'.join(x))

In [40]:
data.head()

,duration,genres,gross,metacritic,opening,rating,release,studio,title,month
/title/tt0035423/,118,Comedy_Fantasy_Romance,47095453,44,2562448.0,PG-13,2001-12-25,Konrad Pictures,Kate & Leopold,12
/title/tt0118589/,104,Drama_Music_Romance,4273372,14,2414596.0,PG-13,2001-09-21,Twentieth Century Fox Film Corporation,Glitter,9
/title/tt0118694/,98,Drama_Romance,2734044,85,138340.5,PG,2001-03-09,Block 2 Pictures,In the Mood for Love,3
/title/tt0118926/,132,Drama_Thriller_Crime,2377348,64,92433.0,R,2003-05-23,Fox Searchlight Pictures,The Dancer Upstairs,5
/title/tt0120202/,105,Comedy_Drama,6920692,75,580163.0,R,2001-01-12,Filmtown Entertainment,State and Main,1

In [41]:
df = data['genres'].str.get_dummies(sep='_')
df.head(10)

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,History,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
/title/tt0035423/,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
/title/tt0118589/,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0
/title/tt0118694/,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
/title/tt0118926/,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0
/title/tt0120202/,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
/title/tt0120630/,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
/title/tt0120667/,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
/title/tt0120679/,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
/title/tt0120681/,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
/title/tt0120737/,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [42]:
data = data.join(df)

In [43]:
data.head()

,duration,genres,gross,metacritic,opening,rating,release,studio,title,month,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
/title/tt0035423/,118,Comedy_Fantasy_Romance,47095453,44,2562448.0,PG-13,2001-12-25,Konrad Pictures,Kate & Leopold,12,...,0,0,0,0,1,0,0,0,0,0
/title/tt0118589/,104,Drama_Music_Romance,4273372,14,2414596.0,PG-13,2001-09-21,Twentieth Century Fox Film Corporation,Glitter,9,...,0,1,0,0,1,0,0,0,0,0
/title/tt0118694/,98,Drama_Romance,2734044,85,138340.5,PG,2001-03-09,Block 2 Pictures,In the Mood for Love,3,...,0,0,0,0,1,0,0,0,0,0
/title/tt0118926/,132,Drama_Thriller_Crime,2377348,64,92433.0,R,2003-05-23,Fox Searchlight Pictures,The Dancer Upstairs,5,...,0,0,0,0,0,0,0,1,0,0
/title/tt0120202/,105,Comedy_Drama,6920692,75,580163.0,R,2001-01-12,Filmtown Entertainment,State and Main,1,...,0,0,0,0,0,0,0,0,0,0

In [44]:
data = data.drop('genres', axis=1)

In [45]:
data.head()

,duration,gross,metacritic,opening,rating,release,studio,title,month,Action,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
/title/tt0035423/,118,47095453,44,2562448.0,PG-13,2001-12-25,Konrad Pictures,Kate & Leopold,12,0,...,0,0,0,0,1,0,0,0,0,0
/title/tt0118589/,104,4273372,14,2414596.0,PG-13,2001-09-21,Twentieth Century Fox Film Corporation,Glitter,9,0,...,0,1,0,0,1,0,0,0,0,0
/title/tt0118694/,98,2734044,85,138340.5,PG,2001-03-09,Block 2 Pictures,In the Mood for Love,3,0,...,0,0,0,0,1,0,0,0,0,0
/title/tt0118926/,132,2377348,64,92433.0,R,2003-05-23,Fox Searchlight Pictures,The Dancer Upstairs,5,0,...,0,0,0,0,0,0,0,1,0,0
/title/tt0120202/,105,6920692,75,580163.0,R,2001-01-12,Filmtown Entertainment,State and Main,1,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
with open('movie_data.pkl', 'w') as picklefile:
    pickle.dump(data, picklefile)